<ul>
    <li><a href="~/accont/wecom" class="btn btn-primary">صفحه تست</a></li>
    <li><a href="~/home/profile" class="btn btn-primary">پروفایل</a></li>
    <li><a href="~/accont/signout" class="btn btn-primary">خروج</a></li>
</ul>
